*{
   margin: 0px;
}

#first, #third, #fifth, #seventh, #nineth{
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    height: 250px;
}
#second, #fourth, #sixth, #eighth, #tenth{
    background-color: rgb(219, 219, 219);
    height: 250px;
}
#first, #third, #fifth, #seventh, #nineth, #second, #fourth, #sixth, #eighth, #tenth{
    display: grid;
    width: 100%;
    place-items: center;
    gap: 5px;
}
.test2{
    display: flex;
    align-items: center;
    gap: 20px;
}
input{
    height: 19px;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.father{
    display: grid;
    gap: 1em;
    grid-template-columns: 50% 50%;
}
footer{
    float: left;
    display: flex;
    align-items: center;
    background-color: rgb(73, 73, 73);
    color: white;
    height: 100px;
    width: 100%;
    gap: 15px;
}